@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*::-moz-selection {
  background: #2e8b25;
  color: #fff;
}

*::selection {
  background: #2e8b25;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#banner .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#banner .title h1 {
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

#banner .title h1 span {
  color: #0cfa77;
}

#banner .title h3 {
  font-weight: 500;
  font-size: 35px;
  color: #fff;
  text-shadow: 4px 5px 10px rgba(0, 0, 0, 0.5);
}

#banner .container {
  max-width: calc(1300px + 10%);
  padding: 0 5%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 5%;
}

#banner .container .sub-title {
  width: 100%;
  margin-bottom: 5px;
  border-bottom: 2px solid #888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#banner .container .sub-title h2 {
  font-size: 30px;
  font-weight: 600;
}

#banner .container .sub-title .title-lab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#banner .container .sub-title .title-lab .lab {
  margin: 0 5px;
  font-size: 18px;
  font-weight: 500;
}

#banner .container .sub-title .title-lab .lab span {
  padding: 0 3px;
  color: orange;
  font-weight: 500;
}

#banner .container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0;
  border-bottom: 1px solid #888;
}

#banner .container .card:last-child {
  border-bottom: none;
}

#banner .container .card .image {
  width: 40%;
}

#banner .container .card .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#banner .container .card .card-info {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

#banner .container .card .card-info .date {
  padding: 5px 0;
  font-size: 22px;
  font-weight: 700;
  color: #888;
  letter-spacing: 1px;
}

#banner .container .card .card-info h2 {
  font-size: 28px;
  font-weight: 500;
  padding: 5px 0;
}

#banner .container .card .card-info h2 a {
  text-decoration: none;
  color: black;
}

#banner .container .card .card-info h2 a:hover {
  color: green;
}

#banner .container .card .card-info p {
  color: #888;
  line-height: 1.4em;
  padding: 10px 0;
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#banner .container .card .card-info .read-more {
  display: inline-block;
  text-decoration: none;
  color: black;
  margin-top: 20px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#banner .container .card .card-info .read-more:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

#banner .container .card .card-info .read-more i {
  margin-left: 2px;
}

#banner .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  background-color: rgba(199, 199, 199, 0.3);
}

#banner .page a {
  padding: 10px 15px;
  background-color: green;
  color: #fff;
  border-radius: 7px;
  border: 1px solid green;
  margin: 0 4px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

#banner .page a:hover {
  color: green;
  background-color: #fff;
}

@media screen and (max-width: 1130px) {
  #banner .container .card .card-info {
    padding: 10px 25px;
  }
}

@media screen and (max-width: 1025px) {
  #banner .title h3 {
    font-size: 30px;
  }
  #banner .container .card .card-info {
    padding: 10px 25px;
  }
  #banner .container .card .card-info .date {
    font-size: 18px;
  }
  #banner .container .card .card-info h2 {
    font-size: 25px;
  }
  #banner .container .card .card-info p {
    font-size: 16px;
  }
}

@media screen and (max-width: 990px) {
  #banner .container {
    padding: 50px 5%;
  }
  #banner .container .card .image {
    width: 100%;
  }
  #banner .container .card .card-info {
    width: 100%;
  }
}

@media screen and (max-width: 570px) {
  #banner .title h3 {
    font-size: 25px;
  }
  #banner .container .sub-title h2 {
    font-size: 25px;
  }
  #banner .container .sub-title .title-lab .lab {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  #banner .title h3 {
    font-size: 20px;
  }
  #banner .container .sub-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #banner .container .sub-title .title-lab {
    margin: 5px 0;
  }
  #banner .container .sub-title .title-lab .lab {
    font-size: 14px;
  }
}
/*# sourceMappingURL=blog-list.css.map */