@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*::-moz-selection {
  background: #2e8b25;
  color: #fff;
}

*::selection {
  background: #2e8b25;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#contact .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #fff;
}

#contact .container {
  max-width: calc(1300px + 10%);
  padding: 0 5%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  padding: 50px 5%;
}

#contact .container .contact-info {
  padding: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .container .contact-info h4 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
}

#contact .container .contact-info h2 {
  font-size: 27px;
  font-weight: 500;
  color: black;
}

#contact .container .contact-info h3 {
  font-size: 25px;
  font-weight: 600;
  padding: 5px 0;
}

#contact .container .contact-info h3 span {
  font-size: inherit;
  color: green;
}

#contact .container .contact-info .address, #contact .container .contact-info .email, #contact .container .contact-info .phone, #contact .container .contact-info .time, #contact .container .contact-info .store {
  padding: 7px 0;
}

#contact .container .contact-info .address i, #contact .container .contact-info .email i, #contact .container .contact-info .phone i, #contact .container .contact-info .time i, #contact .container .contact-info .store i {
  margin-right: 15px;
  font-size: 20px;
}

#contact .container .contact-info .address span, #contact .container .contact-info .email span, #contact .container .contact-info .phone span, #contact .container .contact-info .time span, #contact .container .contact-info .store span {
  margin-left: 5px;
}

#contact .container .contact-info a {
  width: 220px;
  margin-top: 5px;
  display: inline-block;
  padding: 7px 10px;
  text-decoration: none;
  color: #555;
  background-color: bisque;
  border: 1px solid bisque;
  border-radius: 7px;
}

#contact .container .contact-person {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 400px;
          flex: 2 1 400px;
  height: 400px;
  padding: 20px;
  background-color: rgba(168, 168, 168, 0.4);
  border-radius: 9px;
  overflow-y: scroll;
}

#contact .container .contact-person h2 {
  text-align: center;
  padding: 10px 0;
  font-size: 37px;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}

#contact .container .contact-person .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 10px;
  border-radius: 9px;
  margin-bottom: 10px;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#contact .container .contact-person .card:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#contact .container .contact-person .card .image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: aqua;
  margin-right: 20px;
}

#contact .container .contact-person .card .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

#contact .container .contact-person .card .card-info {
  font-size: 16px;
}

#contact .container .contact-person .card .card-info span {
  margin-left: 5px;
}

#form {
  padding: 30px 0;
  background-color: rgba(199, 199, 199, 0.3);
}

#form .container {
  max-width: calc(1300px + 10%);
  padding: 0 5%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#form .container fieldset {
  width: calc(50% - 10px);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black;
}

#form .container fieldset legend {
  font-size: 30px;
  font-weight: 500;
  padding: 0 5px;
}

#form .container fieldset form .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#form .container fieldset form .box label {
  font-size: 20px;
  margin: 3px 0 5px;
}

#form .container fieldset form .box input {
  width: 100%;
  height: 50px;
  padding: 7px 10px;
  font-size: 17px;
  border-radius: 7px;
  border: 1px solid black;
}

#form .container fieldset form .box textarea {
  font-size: 17px;
  border-radius: 7px;
  padding: 7px 10px;
  border: 1px solid black;
  resize: none;
}

#form .container fieldset form button {
  padding: 5px 12px;
  color: #fff;
  background-color: green;
  border-radius: 10px;
  border: 1px solid green;
  margin-top: 10px;
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

#form .container fieldset form button:hover {
  color: green;
  background-color: #fff;
}

#form .container .thank {
  width: calc(50% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  margin-left: 15px;
}

#form .container .thank img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  border-radius: 7px;
  width: 100%;
  -webkit-animation: animation 4s ease-out 3 backwards;
          animation: animation 4s ease-out 3 backwards;
}

@-webkit-keyframes animation {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes animation {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

#media {
  padding: 15px 0;
}

#media .container {
  max-width: calc(1300px + 10%);
  padding: 0 5%;
  margin: 0 auto;
}

#media .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#media .container ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
}

#media .container ul li a {
  text-decoration: none;
  color: #555;
  font-size: 20px;
}

#media .container ul li a:hover {
  color: black;
}

#media .container ul li a i {
  margin-right: 5px;
}

#map {
  width: 100%;
  height: 40vh;
}

@media screen and (max-width: 810px) {
  #form .container fieldset {
    width: 100%;
  }
  #form .container .thank {
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 740px) {
  #media .container ul li a {
    font-size: 16px;
  }
  #media .container ul li a i {
    margin-right: 3px;
  }
}

@media screen and (max-width: 570px) {
  #media .container ul li a {
    font-size: 14px;
  }
}

@media screen and (max-width: 570px) {
  #media .container ul li {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=contact.css.map */