// import google font 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
//加入變數管理
@import "variable";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:$main-font;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
}
//選取文字的效果
*::selection{
    background:$selection-color;
    color:#fff;
}
html{
    scroll-behavior: smooth;
}
// scrollbar 
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
} 
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

//main
#contact{
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 70px;
        font-weight: 700;
        letter-spacing: 3px;
        color:#fff;
    }
    .container{
        @include container;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 50px 5%;
        .contact-info{
            padding: 15px;
            flex:1 1 300px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            h4{
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 300;
            }
            h2{
                font-size: 27px;
                font-weight: 500;
                color:$main-color;
            }
            h3{
                font-size: 25px;
                font-weight: 600;
                padding: 5px 0;
                span{
                    font-size: inherit;
                    color:$sub-color;
                }
            }
            .address, .email, .phone, .time, .store{
                padding: 7px 0;
                i{
                    margin-right: 15px;
                    font-size: 20px;
                }
                span{
                    margin-left: 5px;
                }
            }
            a{
                width: 220px;
                margin-top: 5px;
                display: inline-block;
                padding: 7px 10px;
                text-decoration: none;
                color: #555;
                background-color: bisque;
                border: 1px solid bisque;
                border-radius: 7px;
            }
        }
        .contact-person{
            flex: 2 1 400px;
            height: 400px;
            padding: 20px;
            background-color: rgba(168, 168, 168,0.4);
            border-radius: 9px;
            overflow-y:scroll ;
            h2{
                text-align: center;
                padding: 10px 0;
                font-size: 37px;
                letter-spacing: 2px;
                color: #fff;
                text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
                text-transform: uppercase;
            }
            .card{
                display: flex;
                align-items: center;
                padding: 7px 10px;
                border-radius: 9px;
                margin-bottom: 10px;
                box-shadow: 1px 2px 5px rgba(0,0,0,0.4);
                background-color: #fff;
                transition: all 0.3s linear;
                &:hover{
                    transform: scale(0.95);
                }
                .image{
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    background-color: aqua;
                    margin-right: 20px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
                .card-info{
                    font-size: 16px;
                    span{
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}
//表單
#form{
    padding: 30px 0;
    background-color: $bgc-gray;
    .container{
        @include container;
        display: flex;
        flex-wrap: wrap;
        fieldset{
            width: calc(50% - 10px);
            padding: 20px;
            border-radius: 10px;
            border:1px solid black;
            legend{
                font-size: 30px;
                font-weight: 500;
                padding: 0 5px;
            }
            form{
                .box{
                    display: flex;
                    flex-direction: column;
                    label{
                        font-size: 20px;
                        margin:3px 0 5px;
                    }
                    input{
                        width: 100%;
                        height: 50px;
                        padding: 7px 10px;
                        font-size: 17px;
                        border-radius: 7px;
                        border: 1px solid black;
                    }
                    textarea{
                        font-size: 17px;
                        border-radius: 7px;
                        padding: 7px 10px;
                        border: 1px solid black;
                        resize: none;
                    }
                }
                button{
                    padding: 5px 12px;
                    color: #fff;
                    background-color: $sub-color;
                    border-radius: 10px;
                    border:1px solid $sub-color;
                    margin-top: 10px;
                    width: 100%;
                    font-size: 24px;
                    font-weight: 500;
                    cursor: pointer;
                    &:hover{
                        color: $sub-color;
                        background-color: #fff;
                    }
                }
            }
        }
        .thank{
            width: calc(50% - 10px);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 20px;
            margin-left: 15px;
            img{
                filter: blur(2px);
                border-radius: 7px;
                width: 100%;
                animation: animation 4s ease-out 3 backwards;
            }
        }
    }
}
@keyframes animation{
    0%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-5deg);
    }
}
//media
#media{
    padding: 15px 0;
    .container{
        @include container;
        ul{
            display: flex;
            justify-content: space-between;
            li{
                list-style-type: none;
                display: inline-block;
                margin-left: 20px;
                a{
                    text-decoration: none;
                    color:#555;
                    font-size: 20px;
                    &:hover{
                        color:$main-color;
                    }
                    i{
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
// 地圖 
#map{
    width: 100%;
    height: 40vh;
}
//810px
@media screen and(max-width:810px){
    #form{
        .container{
            fieldset{
                width: 100%;
            }
            .thank{
                width: 100%;
                margin-top: 20px;
                margin-left: 0px;
            }
        }
    }
}
//740px
@media screen and(max-width:740px){
    #media{
        .container{
            ul{
                li{
                    a{
                        font-size: 16px;
                        
                        i{
                            margin-right: 3px;
                        }
                    }
                }
            }
        }
    }
}
//570px
@media screen and(max-width:570px){
    #media{
        .container{
            ul{
                li{
                    a{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
//500px
@media screen and(max-width:570px){
    #media{
        .container{
            ul{
                li{
                    text-align: center;
                    flex-direction: column;
                }
            }
        }
    }
}